*{
    margin: 0;
    padding: 0;
}
html{
    background: dimgray;
    background: black;
}
#app{
    height: 500px;
    width: 700px;
    margin: 20vh auto;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#one, #two, #three, #four{
    width: 50%;
    cursor: pointer;
}
#controls{
    background: #ecfffa;
    width: 25%;
    height: 20%;
    position: absolute;
    left: 37.5%;
    bottom: 240px;
    background: #4F4F4F;
}
#one{
    background: #6289C8;
}
#two{
    background: #5AC5AD;
}
#three{
    background: #FFC947;
}
#four{
    background: #EB4A42;
}
div .active{
    background: white !important;
}
button{
    cursor: pointer;
}
