*{
    margin: 0;
    padding: 0;
}
html{
    background: dimgray;
}
#app{
    height: 500px;
    width: 700px;
    margin: 20vh auto;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#one, #two, #three, #four{
    width: 50%;
}
#controls{
    background: #ecfffa;
    width: 25%;
    height: 20%;
    position: absolute;
    left: 37.5%;
    bottom: 240px;
}
#one{
    background: #4cb297;
}
#two{
    background: #ffc2af;
}
#three{
    background: #ff744a;
}
#four{
    background: #b26c57;
}
div .active{
    background: antiquewhite !important;
}
